.banner-bg1{
  background-image: url('../../../assets/img/page-header-img/bg.jpg');
  background-size: cover;
  background-repeat: 'no-repeat';
  height: 50rem;  
  background-position: center;
}

.p-5
{
    padding: 50px 100px 0px 100px;
}

.text-white
{
    color: #fff !important;
}



